body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #F0F8FF;
}

.nav-container a {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 18px;
    text-decoration-thickness: 2px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.nav-container a:hover {
    color: #5d3eff;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.nav-links a {
    position: relative;
    display: inline-block;
    color: black;
}

.nav-links a::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0%;
    height: 2px;
    width: 0;
    transition: width 0.5s ease;

}

.nav-links a:hover::before {
    width: 100%;
    background-color: #5d3eff;
}

.hero {
    background-color: #F0F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    max-width: 45%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.form-container {
    flex: 1;
    max-width: 50%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container h2 {
    font-weight: bold;
    font-size: 1.5rem;
    ;
    color: #5151f4;
}

form label {
    font-weight: bold;
    font-size: large;
}

.highlight {
    color: #5151f4;
    font-weight: bold;
}

form input,
form textarea,
form select {
    padding: 10px;
    font-size: 16px;
    background-color: hsl(180, 50%, 99%);
    border: 1.5px groove;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;

}

form input:hover,
form textarea:hover,
form select:hover {
    border-color: rgb(93, 62, 255);
    box-shadow: 0 0 5px rgba(93, 62, 255, 0.3);
}

form input:focus,
form textarea:focus,
form select:focus {
    box-shadow: 0 0 5px rgba(93, 62, 255, 0.5);
}

.privacy-notice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.privacy-notice p {
    flex: 1;
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 50px;
    ;
}

.privacy-notice button {
    background-color: #5151f4;
    color: white;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    ;
}

.privacy-notice button:hover {
    color: #5151f4;
    background-color: white;
    border: 1px solid #5151f4;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease
}

.contact {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #eaf1ff;
}

.contact h2 {
    font-size: 2rem;
    color: #0c1e3a;
    margin: 1rem 0;
}

/* ========== FOOTER ========== */
footer {
    background-color: #0c1e3a;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    display: block;
    unicode-bidi: isolate;
}

footer a {
    color: #4fc3f7;
    margin: 0 5px;
    text-decoration: none;
    position: relative;
}

footer a:hover {
    color: white;
    transition: color 0.3s ease;
}

footer ul {
    align-items: center;
    list-style-type: disc;
    list-style: none;
    padding: 0;
    margin: 0;
}


footer li {
    color: #4fc3f7;
    margin: 0 5px;
    padding-bottom: 5px;
}